body{
    padding: 50px;
}


h2, h3{
    text-align: center;
    margin: 20px 0;
}

h3{
    font-size: 20px;
}

li{
    text-align: center;
    list-style-position: inside;
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cont-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}



.cont-planes{
    flex-direction: column;
    align-items:center;
}


#cont-isla{
    align-items: start;
}



